<mat-card>
    <mat-card-header>
        <mat-card-title>{{ task.name }}</mat-card-title>
        <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
        <mat-card-subtitle style="color: red">Assigned to: {{ task.assignedTo }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-icon-button color="red" (click)="deleteTask(task)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="blue" (click)="editTask(task)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    
  </mat-card>