<button mat-button color="accent" routerLink="">Cancel</button>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="taskName">Task Name</label>
        <input
          type="text"
          title="taskTitle"
          [(ngModel)]="taskTitle"
          name="taskTitle"
          class="form-control"
          required/>
        <label for="taskDescription">Description</label>
        <textarea
          id="taskDescription"
          name="taskDescription"
          [(ngModel)]="taskDescription"
        
          class="form-control"
         rows="4"
        ></textarea>
        <label for="taskAssignedTo">Assign To:</label>
        <textarea
          id="taskAssignedTo"
          name="taskAssignedTo"
          [(ngModel)]="taskAssignedTo"
          class="form-control"
         rows="4"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    
        